In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
data = pd.read_csv('credit.csv')

In [3]:
df = pd.DataFrame(data)
df.head(3)

,age,job,marital,education,balance,housing,duration,campaign,approval
0,30.0,unemployed,married,primary,1787,no,79.0,1,no
1,33.0,services,married,secondary,4789,yes,220.0,1,no
2,35.0,management,single,tertiary,1350,yes,185.0,1,no

In [4]:
df.dtypes

age          float64
job           object
marital       object
education     object
balance        int64
housing       object
duration     float64
campaign       int64
approval      object
dtype: object

In [5]:
df.duplicated().sum()

np.int64(1)

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.isnull().sum()

age          2
job          6
marital      3
education    4
balance      0
housing      3
duration     2
campaign     0
approval     0
dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
df.dtypes

age          float64
job           object
marital       object
education     object
balance        int64
housing       object
duration     float64
campaign       int64
approval      object
dtype: object

In [10]:
df['duration'].unique()

array([ 7.9000000e+01,  2.2000000e+02,  1.8500000e+02,  1.9900000e+02,
        2.2600000e+02,  1.4100000e+02,  3.4100000e+02,  1.5100000e+02,
        5.7000000e+01,  3.1300000e+02,  2.7300000e+02,  1.1300000e+02,
       -3.2800000e+02,  2.6100000e+02,  8.9000000e+01,  1.8900000e+02,
        2.3900000e+02,  1.1400000e+02,  1.4800000e+02, -9.6000000e+01,
        1.4000000e+02,  1.0900000e+02,  1.2500000e+02,  1.6900000e+02,
        1.8200000e+02,  2.4700000e+02,  1.1900000e+02,  1.4900000e+02,
        7.4000000e+01,  8.9700000e+02,  8.1000000e+01,  4.0000000e+01,
        9.5800000e+02,  3.5400000e+02,  1.5000000e+02,  9.7000000e+01,
        1.3200000e+02,  7.6500000e+02,  1.6000000e+01,  6.0900000e+02,
        1.0600000e+02,  3.6500000e+02,  2.0500000e+02,  1.1000000e+01,
        1.0500000e+02,  5.9000000e+01,  4.2500000e+02,  2.0400000e+02,
        1.0180000e+03,  1.7400000e+03,  9.8000000e+01,  4.4100000e+02,
        2.7200000e+02,  1.5900000e+02,  2.9500000e+02,  3.1400000e+02,
        5.5400000e+02,  3.2300000e+02,  2.2700000e+02,  1.3400000e+02,
        2.2300000e+02,  1.5500000e+02,  1.3000000e+02,  6.3000000e+02,
        1.6400000e+02,  2.6800000e+02,  3.8000000e+02,  1.5400000e+02,
        2.2100000e+02,  6.7000000e+01,  3.6700000e+02,  8.7000000e+01,
        7.0100000e+02,  6.5200000e+02,  6.3000000e+01,  3.9800000e+02,
        2.2400000e+02,  4.0600000e+02,  6.0000000e+01,  5.2100000e+02,
        2.7900000e+02,  2.0300000e+02,  2.0100000e+02,  3.9100000e+02,
        1.6500000e+02,  2.3100000e+02,  2.9100000e+02,  2.3300000e+02,
        4.7300000e+02,  7.3600000e+02,  3.3700000e+02,  5.5300000e+02,
        3.4500000e+02,  6.5000000e+01,  9.0000000e+00,  2.5900000e+02,
        3.7100000e+02,  2.8000000e+02,  2.4300000e+02,  4.3500000e+02,
        2.5800000e+02,  7.0000000e+00,  3.1700000e+02,  7.6000000e+01,
        1.7000000e+02,  3.8600000e+02,  8.3000000e+01,  6.9000000e+01,
        5.6400000e+02,  5.8800000e+02,  7.7900000e+02,  2.8100000e+02,
        1.8770000e+03,  5.1000000e+01,  3.2000000e+01,  1.7600000e+02,
        1.6100000e+02,  1.8700000e+02,  2.4000000e+01,  8.5000000e+01,
       -9.8000000e+01,  5.4000000e+01,  7.1000000e+01,  4.8900000e+02,
        3.9000000e+01,  4.5500000e+02,  8.6000000e+01,  1.9000000e+02,
        4.5000000e+01,  1.6800000e+02,  1.9400000e+02,  1.0300000e+02,
        3.3300000e+02,  1.0200000e+02,  9.2000000e+01,  2.1300000e+02,
        2.8900000e+02,  7.7000000e+01,  3.2400000e+02,  8.4000000e+01,
        1.0000000e+01, -3.5000000e+01,  8.2000000e+01,  6.7600000e+02,
        8.0000000e+01,  5.4900000e+02,  1.3500000e+02,  4.1200000e+02,
        1.0100000e+02,  2.5300000e+02,  1.6600000e+02,  1.8000000e+01,
        1.4700000e+02,  1.4000000e+01,  6.1000000e+01,  3.7700000e+02,
        9.6000000e+01,  1.5200000e+02,  3.8200000e+02,  5.4300000e+02,
        2.4000000e+02,  4.8000000e+01,  4.7100000e+02,  2.8500000e+02,
        3.0100000e+02,  7.6800000e+02,  1.3370000e+03,  4.0300000e+02,
        1.3900000e+02,  1.9600000e+02,  1.1500000e+02,  1.7000000e+01,
        9.5000000e+01,  1.9800000e+02,  6.5400000e+02,  2.5600000e+02,
        8.3400000e+02,  2.0000000e+01,  1.7800000e+02,  1.1100000e+02,
        1.8600000e+02,  2.9700000e+02,  2.1000000e+02,  1.1200000e+02,
        2.2200000e+02,  1.9500000e+02,  1.2300000e+02,  1.4500000e+02,
        1.2400000e+02,  2.1600000e+02,  4.8300000e+02,  6.9000000e+02,
        3.4400000e+02,  6.7300000e+02,  1.4400000e+02,  2.4600000e+02,
        3.6100000e+02,  3.7500000e+02,  1.0970000e+03,  1.8100000e+02,
        1.8000000e+02,  3.7300000e+02,  2.3000000e+02,  5.8000000e+01,
        8.8000000e+01,  4.8700000e+02,  2.9000000e+01,  4.8400000e+02,
        2.6200000e+02,  6.4400000e+02,  6.9900000e+02,  4.9000000e+01,
        6.4000000e+01,  1.2100000e+02,  1.9700000e+02,  3.3100000e+02,
        1.3800000e+02,  3.1200000e+02,  1.2000000e+02,  5.2600000e+02,
        2.1100000e+02,  6.2000000e+01,  9.8800000e+02,  4.5100000e+02,
        1.0300000e+03,  1.4840000e+03,  4.4500000e+02,  3.8300000e+02,
        6.0500000e+02,  3.3000000e+02,  1.7100000e+02,  4.4200000e+02,
        7.7200000e+02,  2.4900000e+02,  3.5700000e+02,  2.7100000e+02,
        7.8300000e+02,  4.7200000e+02,  3.9500000e+02,  5.6000000e+01,
        6.4100000e+02,  4.2900000e+02,  1.5700000e+02,  1.6200000e+02,
       -7.9900000e+02,  1.3700000e+03,  2.2000000e+01,  2.1500000e+02,
        1.0170000e+03,  2.9800000e+02,  1.2600000e+02,  8.0000000e+00,
        5.5500000e+02,  2.7000000e+02,  3.3900000e+02,  3.2800000e+02,
        3.4200000e+02,  1.4340000e+03,  3.0000000e+01,  3.9700000e+02,
        6.2000000e+02,  6.0000000e+00,  2.0900000e+02,  4.1900000e+02,
        2.8300000e+02,  1.8800000e+02,  2.6700000e+02,  2.4500000e+02,
        1.0650000e+03,  2.0700000e+02,  4.5600000e+02,  1.3100000e+02,
        9.4000000e+01,  5.6700000e+02,  1.5300000e+02,  5.3000000e+01,
        2.3400000e+02,  1.0800000e+02,  2.0800000e+02,  5.9700000e+02,
        5.0500000e+02,  3.3200000e+02,  2.1200000e+02,  4.9300000e+02,
        6.8100000e+02,  2.8700000e+02,  2.0200000e+02,  3.7000000e+01,
        7.2000000e+01,  3.2500000e+02,  1.2120000e+03,  3.1900000e+02,
        5.1400000e+02,  5.5100000e+02,  1.4200000e+02,  2.9300000e+02,
        1.0700000e+02,  1.2700000e+02,  1.8160000e+03,  2.0000000e+02,
        4.1800000e+02,  3.8700000e+02,  1.5600000e+02,  4.7000000e+01,
        2.6500000e+02,  3.1000000e+01,  2.8000000e+01,  3.6900000e+02,
        8.5400000e+02,  4.6000000e+01,  2.6600000e+02,  3.2100000e+02,
        9.9000000e+01,  2.6400000e+02,  1.1800000e+02,  3.4300000e+02,
        5.0000000e+00,  7.2200000e+02,  7.4800000e+02,  5.2300000e+02,
        4.2100000e+02,  2.3600000e+02,  1.5000000e+01,  5.0200000e+02,
        1.9300000e+02,  3.4700000e+02,  4.6800000e+02,  3.8800000e+02,
        1.7350000e+03,  1.7200000e+02,  1.1700000e+02,  5.8700000e+02,
        5.0100000e+02,  2.8200000e+02,  1.1000000e+02,  1.0400000e+02,
        3.7800000e+02,  1.4070000e+03,  7.3800000e+02,  7.0000000e+01,
        9.0400000e+02,  3.3600000e+02,  2.3800000e+02,  5.8500000e+02,
        6.8000000e+01,  1.7130000e+03,  2.1800000e+02,  6.6100000e+02,
        5.6600000e+02,  1.3600000e+02,  1.6000000e+02,  4.4000000e+01,
        2.5000000e+02,  7.9200000e+02,  7.3000000e+01,  9.0000000e+01,
        3.4600000e+02,  1.9200000e+02,  6.8200000e+02,  6.5100000e+02,
        4.0500000e+02,  3.5000000e+02,  3.6000000e+01,  3.5000000e+01,
        3.8900000e+02,  3.0250000e+03,  2.1900000e+02,  4.2700000e+02,
        5.3300000e+02,  1.9000000e+01,  8.1900000e+02,  2.7800000e+02,
        6.1700000e+02,  3.4000000e+01,  6.6800000e+02,  7.5000000e+01,
        1.4600000e+02,  3.5600000e+02,  2.5100000e+02,  3.5200000e+02,
        1.8400000e+02,  5.6800000e+02,  2.6000000e+02,  4.4700000e+02,
        4.2600000e+02,  1.7400000e+02,  2.8400000e+02,  4.2800000e+02,
        2.3700000e+02,  1.0310000e+03,  7.0000000e+02,  5.9000000e+02,
        4.3000000e+01,  2.7000000e+01,  1.1810000e+03,  1.2200000e+02,
        3.0700000e+02,  7.7000000e+02,  7.6700000e+02,  2.3200000e+02,
        9.8600000e+02,  6.6000000e+01,  1.5800000e+02,  3.0600000e+02,
        5.5900000e+02,  1.8300000e+02,  6.3100000e+02,  1.2820000e+03,
        1.1990000e+03,  2.4400000e+02,  5.5000000e+01,  2.9000000e+02,
        3.8500000e+02,  1.3300000e+02,  9.1000000e+01,  2.5000000e+01,
        2.7500000e+02,  6.3200000e+02,  1.0000000e+02,  4.1000000e+01,
        4.4600000e+02,  3.0400000e+02,  3.3500000e+02,  2.7600000e+02,
        4.2000000e+01,  6.1400000e+02,  5.5700000e+02,  1.6630000e+03,
        4.3000000e+02,  5.1000000e+02,  1.2590000e+03,  2.2500000e+02,
        4.0400000e+02,  1.0150000e+03,  7.6100000e+02,  4.6400000e+02,
        2.0600000e+02,  6.6700000e+02,  1.4300000e+02,  7.1700000e+02,
        1.4400000e+06,  3.8000000e+01,  2.5400000e+02,  8.8200000e+02,
        9.5700000e+02,  2.9900000e+02,  1.6700000e+02,  5.0000000e+02,
        1.7700000e+02,  4.5700800e+05,  4.6000000e+02,  1.0280000e+03,
        3.1500000e+02,  3.8100000e+02,  6.4300000e+02,  5.0800000e+02,
        1.2800000e+02,  4.9200000e+02,  2.5700000e+02,  2.4100000e+02,
        5.3600000e+02,  6.0100000e+02,  1.1680000e+03,  2.7700000e+02,
        3.6400000e+02,  2.2900000e+02,  4.0200000e+02,  1.7500000e+02,
        2.5500000e+02,  8.2000000e+02,  1.1600000e+02,  4.6300000e+02,
        6.0300000e+02,  1.9100000e+02,  2.0870000e+03,  7.5400000e+02,
        3.0300000e+02,  2.8800000e+02,  8.9100000e+02,  5.5800000e+02,
        2.2800000e+02,  3.5300000e+02,  2.9600000e+02,  4.3200000e+02,
        1.1300000e+03,  3.0500000e+02,  2.7400000e+02,  8.6000000e+02,
        4.2000000e+02,  7.5600000e+02,  9.6800000e+02,  4.0800000e+02,
        1.3000000e+01,  7.6300000e+02,  3.1600000e+02,  5.0000000e+01,
        4.0000000e+00,  7.8000000e+01,  2.8600000e+02,  7.6600000e+02,
        6.4800000e+02,  6.8800000e+02,  2.1000000e+01,  5.9300000e+02,
        4.0700000e+02,  5.6300000e+02,  5.2000000e+01,  8.0300000e+02,
        3.9600000e+02,  6.3700000e+02,  9.4500000e+02,  1.1780000e+03,
        5.0600000e+02,  4.0900000e+02,  3.2700000e+02,  6.1800000e+02,
        9.3600000e+02,  3.2900000e+02,  1.7900000e+02,  7.3100000e+02,
        6.7000000e+02,  3.1800000e+02,  4.1500000e+02,  1.3700000e+02,
        3.4900000e+02,  2.6300000e+02,  6.7100000e+02,  4.5200000e+02,
        1.6300000e+02,  5.8600000e+02,  6.5000000e+02,  6.1000000e+02,
        7.4700000e+02,  2.5200000e+02,  7.9900000e+02,  8.8300000e+02,
        6.8400000e+02,  6.8600000e+02,  1.0600000e+03,  7.2400000e+02,
        4.2400000e+02,  7.1200000e+02,  7.5300000e+02,  1.0810000e+03,
        3.7600000e+02,  4.3300000e+02,  4.1100000e+02,  1.0830000e+03,
        7.5700000e+02,  5.2400000e+02,  6.5300000e+02,  9.3000000e+01,
        5.0300000e+02,  2.1700000e+02,  4.7500000e+02,  3.4000000e+02,
        2.4200000e+02,  5.3000000e+02,  2.3000000e+01,  9.3500000e+02,
        7.7300000e+02,  4.2300000e+02,  6.2600000e+02,  5.7800000e+02,
        2.4800000e+02,  5.2800000e+02,  7.8500000e+02,  9.5200000e+02,
        1.1740000e+03,  9.1500000e+02,  9.3700000e+02,  1.2900000e+02,
        1.0630000e+03,  7.5800000e+02,  5.7400000e+02,  8.4700000e+02,
        1.5580000e+03,  7.8900000e+02,  1.4410000e+03,  3.2200000e+02,
        1.5040000e+03,  5.3700000e+02,  6.1100000e+02,  2.6000000e+01,
        1.2000000e+01,  2.3500000e+02,  7.9600000e+02,  1.1260000e+03,
        6.9700000e+02,  9.3100000e+02,  1.0340000e+03,  3.6200000e+02,
        4.1000000e+02,  5.7000000e+02,  6.3300000e+02,  6.5900000e+02,
        3.0200000e+02,  7.2700000e+02,  2.1400000e+02,  1.7300000e+02,
        6.3500000e+02,  5.4000000e+02,  1.2100000e+03,  4.8600000e+02,
        6.4600000e+02,  3.2600000e+02,  4.1400000e+02,  7.1600000e+02,
        4.4900000e+02,  5.8000000e+02,  3.9900000e+02,  1.0290000e+03,
        7.5500000e+02,  6.1900000e+02,  6.0600000e+02,  9.7100000e+02,
        3.4800000e+02,  5.9400000e+02,  1.2750000e+03,  3.7900000e+02,
        1.0320000e+03,  3.9300000e+02,  8.0800000e+02,  9.2300000e+02,
        4.1300000e+02,  5.4100000e+02,  6.0200000e+02,  7.6200000e+02,
        3.6000000e+02,  3.1000000e+02,  3.1100000e+02,  6.3800000e+02,
        3.5500000e+02,  3.0000000e+02,  4.1700000e+02,  3.0800000e+02,
        6.5700000e+02,  4.3400000e+02,  4.8800000e+02,  1.3090000e+03,
        1.0560000e+03,  9.0800000e+02,  4.0100000e+02,  8.2700000e+02,
        7.3500000e+02,  6.9100000e+02,  4.6100000e+02,  6.6900000e+02,
        1.4730000e+03,  1.3860000e+03,  2.9400000e+02,  9.1000000e+02,
        5.5000000e+02,  1.3660000e+03,  1.5320000e+03,  9.5500000e+02,
        5.1300000e+02,  1.2360000e+03,  8.0900000e+02,  4.8200000e+02,
        1.1640000e+03,  6.7400000e+02,  7.0900000e+02,  4.3600000e+02,
        3.7400000e+02,  3.0900000e+02,  3.6300000e+02,  4.2200000e+02,
        3.5800000e+02,  6.4000000e+02,  4.3900000e+02,  4.7600000e+02,
        4.8000000e+02,  5.1700000e+02,  9.9300000e+02,  3.3000000e+01,
        7.3000000e+02,  6.3600000e+02,  7.5000000e+02,  3.3400000e+02,
        8.6800000e+02,  3.5100000e+02,  1.6890000e+03,  6.0700000e+02,
        4.8500000e+02,  1.0210000e+03,  7.3200000e+02,  5.7700000e+02,
        7.3300000e+02,  7.8800000e+02,  8.6300000e+02,  1.0730000e+03,
        5.2500000e+02,  6.9600000e+02,  5.3500000e+02,  3.7000000e+02,
        4.6500000e+02,  3.3800000e+02,  9.5600000e+02,  5.4600000e+02,
        4.7000000e+02,  5.4400000e+02,  4.4300000e+02,  1.1490000e+03,
        7.0700000e+02,  1.4510000e+03,  2.3956498e+07,  1.1430000e+03,
        4.7700000e+02,  4.5000000e+02,  4.6700000e+02,  2.9200000e+02,
        8.0600000e+02,  5.6000000e+02,  7.5900000e+02,  5.9800000e+02,
        4.6600000e+02,  4.3100000e+02,  2.6900000e+02,  5.4200000e+02,
        5.6200000e+02,  5.1500000e+02,  1.1650000e+03,  5.4700000e+02,
        7.8000000e+02,  9.1600000e+02,  4.7400000e+02,  5.0900000e+02,
        6.7900000e+02,  1.4720000e+03,  9.6500000e+02,  1.1390000e+03,
        5.0400000e+02,  6.7200000e+02,  7.4900000e+02,  4.5400000e+02,
        5.3100000e+02,  4.7900000e+02,  3.8400000e+02,  9.7300000e+02,
        7.2800000e+02,  6.5600000e+02,  9.9800000e+02,  3.2000000e+02,
        6.1500000e+02,  6.1200000e+02,  6.6400000e+02,  3.9400000e+02,
        8.7700000e+02,  1.9710000e+03,  1.2580000e+03,  5.9900000e+02,
        6.5500000e+02,  1.9940000e+03,  7.4300000e+02,  9.2400000e+02,
        9.2900000e+02,  4.9100000e+02,  7.1900000e+02,  1.5290000e+03,
        3.9000000e+02,  1.4670000e+03,  1.0070000e+03,  6.6500000e+02,
        9.9000000e+02,  5.8200000e+02,  4.5800000e+02,  7.7500000e+02,
        4.9700000e+02,  6.9800000e+02,  7.0200000e+02,  5.2000000e+02,
        1.1560000e+03,  8.8400000e+02,  1.5210000e+03,  3.5900000e+02,
        5.2700000e+02,  9.9400000e+02,  1.5790000e+03,  4.3700000e+02,
        1.2250000e+03,  8.6500000e+02,  5.6900000e+02,  1.0110000e+03,
        8.1400000e+02,  9.8400000e+02,  3.9200000e+02,  5.9500000e+02,
        1.4480000e+03,  5.2900000e+02,  1.0060000e+03,  6.2200000e+02,
        4.9400000e+02,  1.0220000e+03,  1.0440000e+03,  8.3600000e+02,
        7.8100000e+02,  1.1240000e+03,  4.0000000e+02,  5.1600000e+02,
        1.5160000e+03,  9.7800000e+02,  7.2000000e+02,  4.9500000e+02,
        7.9800000e+02,  8.7600000e+02,  8.7500000e+02,  4.8100000e+02,
        7.9300000e+02,  1.1170000e+03,  1.2230000e+03,  1.1010000e+03,
        7.4400000e+02,  2.7690000e+03,  5.6100000e+02,  7.1500000e+02,
        6.3900000e+02,  5.3800000e+02,  1.7210000e+03,  1.6080000e+03,
        7.2500000e+02,  5.1900000e+02,  4.9000000e+02,  9.0700000e+02,
        6.8000000e+02,  9.7700000e+02,  9.5900000e+02,  6.9300000e+02,
        2.0290000e+03,  4.5700000e+02,  1.0090000e+03,  7.1800000e+02,
        8.0500000e+02,  6.2300000e+02,  9.7600000e+02,  6.0000000e+02,
        4.6900000e+02,  1.0100000e+03,  6.3400000e+02,  1.5310000e+03,
        7.6400000e+02,  5.3200000e+02,  8.2500000e+02,  5.3900000e+02,
        8.1600000e+02,  8.2100000e+02,  1.2310000e+03,  7.4200000e+02,
        2.4560000e+03,  7.2100000e+02,  7.7700000e+02,  5.4800000e+02,
        8.3000000e+02,  6.4500000e+02,  7.2300000e+02,  7.4600000e+02,
        8.6900000e+02,  1.1730000e+03,  6.2400000e+02,  5.1800000e+02,
        8.1500000e+02,  8.5700000e+02,  9.2100000e+02,  6.2700000e+02,
        8.0000000e+02,  3.6600000e+02,  1.0880000e+03,  8.1200000e+02,
        8.6600000e+02,  1.1510000e+03,  8.7300000e+02,  5.9200000e+02,
        6.6300000e+02,  5.7600000e+02,  9.5100000e+02,  1.2340000e+03,
        1.2630000e+03,  6.6000000e+02, -1.5300000e+02])

In [11]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
le = LabelEncoder()
df['job'] = le.fit_transform(df['job'])

In [12]:
df['housing'] = le.fit_transform(df['housing'])
df['education'] = le.fit_transform(df['education'])
df['marital'] = le.fit_transform(df['marital'])

In [13]:
ohe = OneHotEncoder()
df['approval']= ohe.fit_transform(df[['approval']]).toarray()

In [14]:
df

,age,job,marital,education,balance,housing,duration,campaign,approval
0,30.0,10,1,0,1787,0,79.0,1,1.0
1,33.0,7,1,1,4789,1,220.0,1,1.0
2,35.0,4,2,2,1350,1,185.0,1,1.0
3,30.0,4,1,2,1476,1,199.0,4,1.0
4,59.0,1,1,1,0,1,226.0,1,1.0
...,...,...,...,...,...,...,...,...,...
4516,99.0,7,1,1,-333,1,329.0,5,1.0
4517,57.0,6,1,2,-3313,1,-153.0,1,1.0
4518,57.0,9,1,1,295,0,151.0,11,1.0
4519,28.0,1,1,1,1137,0,129.0,4,1.0
4520,44.0,2,2,2,1136,1,345.0,2,1.0

In [15]:
x = df.drop(['approval'], axis=1)
y = df['approval']

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,random_state=42)

In [17]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [18]:
input_shape = x_train.shape[1]
input_shape

8

In [19]:
model = Sequential()
model.add(Dense(units = 128,activation='relu' , input_dim = input_shape))

model.add(Dense(units = 64 , activation='relu'))
model.add(Dense(units = 32 , activation='relu'))
model.add(Dense(units = 16 , activation='relu'))
model.add(Dense(units = 8 , activation='relu'))

model.add(Dense(units= 1,activation='sigmoid'))

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['mae', 'mse','accuracy'])

C:\Users\ishan\AppData\Roaming\Python\Python311\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [20]:
model.fit(x_train,y_train,epochs=10,batch_size=32)

Epoch 1/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7903 - loss: 6.5862 - mae: 0.3529 - mse: 0.2231
Epoch 2/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8510 - loss: 0.6888 - mae: 0.3029 - mse: 0.1564
Epoch 3/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8772 - loss: 0.7520 - mae: 0.2883 - mse: 0.1388
Epoch 4/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8606 - loss: 1.4789 - mae: 0.3736 - mse: 0.1849
Epoch 5/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8699 - loss: 5.9357 - mae: 0.2952 - mse: 0.1625
Epoch 6/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8443 - loss: 9.0349 - mae: 0.3175 - mse: 0.1681
Epoch 7/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8728 - loss: 1.3672 - mae: 0.2908 - mse: 0.1478
Epoch 8/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8641 - loss: 13.0560 - mae: 0.2580 - mse: 0.1511
Epoch 9/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8812 - loss: 1.1689 - mae: 0.3656 - mse: 0.1539
Epoch 10/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8858 - loss: 0.4657 - mae: 0.3561 - mse: 0.1409

In [21]:
pred = np.ravel(model.predict(x_test))
pred = pd.DataFrame(pred)

29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [22]:
pred =(pred>=0.5).astype(int)

In [23]:
pred

     0
0    1
1    1
2    1
3    1
4    1
..  ..
895  1
896  1
897  1
898  1
899  1

[900 rows x 1 columns]

In [24]:
pred.isnull().sum()

0    0
dtype: int64

In [25]:
pd.concat([y_test, pred], axis=1)

      approval    0
2332       0.0  NaN
3702       1.0  NaN
2988       0.0  NaN
3006       0.0  NaN
473        0.0  1.0
...        ...  ...
893        NaN  1.0
895        NaN  1.0
896        NaN  1.0
897        NaN  1.0
899        NaN  1.0

[1612 rows x 2 columns]

In [26]:
y_test = pd.DataFrame(y_test)
y_test

      approval
2332       0.0
3702       1.0
2988       0.0
3006       0.0
473        0.0
...        ...
916        1.0
814        1.0
2953       0.0
3726       1.0
3272       1.0

[900 rows x 1 columns]

In [27]:
output=pd.DataFrame({'Actual': y_test.values.ravel(), 'Prediction':pred.values.ravel()})

In [28]:
output

     Actual  Prediction
0       0.0           1
1       1.0           1
2       0.0           1
3       0.0           1
4       0.0           1
..      ...         ...
895     1.0           1
896     1.0           1
897     0.0           1
898     1.0           1
899     1.0           1

[900 rows x 2 columns]

In [29]:

import joblib
joblib.dump(model,"credit_model.joblib")

['credit_model.joblib']